<div ng-if="model.selectedDataSet && model.selectedPeriod" class="vertical-spacing">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="pull-center" ng-repeat="header in model.templateLayout.prefixColumns">
                    {{header.name}}
                </th>
                <th class="pull-center" ng-repeat="header in model.analyticsPeriods">
                    {{header.name}}
                </th>
                <th class="pull-center" ng-repeat="header in model.templateLayout.postfixColumns">
                    {{header.name}}
                </th>
            </tr>
        </thead>
        <tbody ng-repeat="de in model.selectedDataSet.dataElements | orderBy: 'name'" ng-init="deIndex=$index">
            <tr ng-repeat="op in model.selectedCategoryCombo.categories[0].categoryOptions" ng-if="op.id !== model.baselineOption.id" ng-init="opIndex=$index">
                <td ng-repeat="header in model.templateLayout.prefixColumns" 
                    ng-if="$index===0">
                    {{de.name}}
                </td>
                <td class="pull-center" ng-repeat="header in model.templateLayout.prefixColumns" 
                    ng-if="$index!==0">
                    <span ng-if="header.name === 'BASELINE' ">
                        
                    </span>
                    <span ng-if="header.name !== 'BASELINE' ">
                        {{op.name}}
                    </span>                    
                </td>
                <td class="pull-center" ng-repeat="pe in model.analyticsPeriods">
                    {{model.report[de.id][pe.id][op.id]}}
                </td>
                <td class="pull-center" ng-repeat="header in model.templateLayout.postfixColumns">
                </td>
            </tr>
        </tbody>        
    </table>    
</div> 